USE [master]
GO
/****** Object:  Database [Symphony_ltd2]    Script Date: 3/19/2026 11:16:35 AM ******/
CREATE DATABASE [Symphony_ltd2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Symphony_ltd2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Symphony_ltd2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Symphony_ltd2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Symphony_ltd2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Symphony_ltd2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Symphony_ltd2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[AboutUsId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AboutUs] PRIMARY KEY CLUSTERED 
(
	[AboutUsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLogins]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogins](
	[AdminLoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AdminLogins] PRIMARY KEY CLUSTERED 
(
	[AdminLoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Centres]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centres](
	[CentreId] [int] IDENTITY(1,1) NOT NULL,
	[CentreName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Centres] PRIMARY KEY CLUSTERED 
(
	[CentreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[BasicFees] [real] NOT NULL,
	[AdvancedFees] [real] NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntranceExams]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntranceExams](
	[EntranceExamId] [int] IDENTITY(1,1) NOT NULL,
	[ExamDate] [datetime2](7) NOT NULL,
	[ExamFees] [real] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EntranceExams] PRIMARY KEY CLUSTERED 
(
	[EntranceExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamEnrollments]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamEnrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[EntranceExamId] [int] NOT NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[EnrollmentDate] [datetime2](7) NOT NULL,
	[CourseId] [int] NOT NULL,
	[HallTicketNumber] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExamEnrollments] PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQs]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQs](
	[FAQId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FAQs] PRIMARY KEY CLUSTERED 
(
	[FAQId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[Marks] [real] NOT NULL,
	[ClassType] [int] NOT NULL,
	[CourseFees] [real] NOT NULL,
	[LastDateOfPayment] [datetime2](7) NOT NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 3/19/2026 11:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[RollNumber] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[CourseId] [int] NOT NULL,
	[PaymentMode] [nvarchar](max) NOT NULL,
	[PaymentDetails] [nvarchar](max) NOT NULL,
	[IsTrashed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260313110614_Initial', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260314053311_secondmigration', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260319052105_AddExamEnrollments', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[AdminLogins] ON 

INSERT [dbo].[AdminLogins] ([AdminLoginId], [UserName], [Password]) VALUES (1, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[AdminLogins] OFF
GO
SET IDENTITY_INSERT [dbo].[Centres] ON 

INSERT [dbo].[Centres] ([CentreId], [CentreName], [Address], [PhoneNumber], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (1, N'Aptech Shahrah e Faisal Karachi ', N'Aptech Shahrah e Faisal Karachi ', N'523552555262', 0, CAST(N'2026-03-14T14:01:14.7721118' AS DateTime2), CAST(N'2026-03-14T14:01:14.7721135' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Centres] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseName], [Description], [StartTime], [EndTime], [BasicFees], [AdvancedFees], [FilePath], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (3, N'Designing Courses For Illustrator', N'Designing Course', CAST(N'2026-03-14T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-14T00:00:00.0000000' AS DateTime2), 5000, 10000, N'/Images/CourseImages/e4e8a079-d4ec-4336-a289-bb049296ef0d.png', 1, CAST(N'2026-03-14T13:52:26.1401046' AS DateTime2), CAST(N'2026-03-14T13:52:26.1401106' AS DateTime2))
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Description], [StartTime], [EndTime], [BasicFees], [AdvancedFees], [FilePath], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (4, N'.Net Developement', N'.Net Development Courses For Advanced Coding', CAST(N'2025-03-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-02T00:00:00.0000000' AS DateTime2), 5000, 1000, N'/Images/CourseImages/2c2f0093-68a5-49d7-976d-5b04018b4920.jpeg', 1, CAST(N'2026-03-14T13:58:39.0227081' AS DateTime2), CAST(N'2026-03-14T13:58:39.0227105' AS DateTime2))
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Description], [StartTime], [EndTime], [BasicFees], [AdvancedFees], [FilePath], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (5, N'Graphic Designing', N'Graphics Designing', CAST(N'2026-03-04T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-28T00:00:00.0000000' AS DateTime2), 10000, 20000, N'/Images/CourseImages/531e4031-21e4-4053-aacf-f47ba14f70b1.png', 0, CAST(N'2026-03-15T06:41:33.6942958' AS DateTime2), CAST(N'2026-03-15T06:41:33.6942976' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[EntranceExams] ON 

INSERT [dbo].[EntranceExams] ([EntranceExamId], [ExamDate], [ExamFees], [Description], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (1, CAST(N'2026-03-02T00:00:00.0000000' AS DateTime2), 500, N'.Net Developement Entry Test', 0, CAST(N'2026-03-14T14:00:07.4200913' AS DateTime2), CAST(N'2026-03-14T14:00:07.4200963' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EntranceExams] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamEnrollments] ON 

INSERT [dbo].[ExamEnrollments] ([EnrollmentId], [EntranceExamId], [UserEmail], [EnrollmentDate], [CourseId], [HallTicketNumber], [Status]) VALUES (3, 1, N'sajid@gmail.com', CAST(N'2026-03-19T10:49:59.2213630' AS DateTime2), 5, N'HT-2603198692', N'Passed')
SET IDENTITY_INSERT [dbo].[ExamEnrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[FAQs] ON 

INSERT [dbo].[FAQs] ([FAQId], [Question], [Answer], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (1, N'What is HDSE', N'HDSE is basically a higher diploma in software engineering ', 0, CAST(N'2026-03-16T01:38:59.9398407' AS DateTime2), CAST(N'2026-03-16T01:38:59.9403337' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([RegistrationId], [FullName], [Address], [PhoneNumber], [Email], [Username], [Password], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (1, N'Saad Tariq', N'R-2 Row F Gulshan E Ghazali', N'523552555262', N'heyyousaad@gmail.com', N'Saad', N'admin123', 0, CAST(N'2026-03-14T13:32:15.6518888' AS DateTime2), CAST(N'2026-03-14T13:32:15.6518921' AS DateTime2))
INSERT [dbo].[Registration] ([RegistrationId], [FullName], [Address], [PhoneNumber], [Email], [Username], [Password], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (2, N'Saad Tariq', N'R-2 Row F Gulshan E Ghazali', N'523552555262', N'admin@gmail.com', N'Saad', N'12345', 0, CAST(N'2026-03-15T06:34:44.9296739' AS DateTime2), CAST(N'2026-03-15T06:34:44.9296771' AS DateTime2))
INSERT [dbo].[Registration] ([RegistrationId], [FullName], [Address], [PhoneNumber], [Email], [Username], [Password], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (3, N'Sajid Ali', N'House No 339 Sfc Karachi', N'03172961740', N'sajid@gmail.com', N'sajidali26', N'sajid123', 0, CAST(N'2026-03-17T15:34:00.7964813' AS DateTime2), CAST(N'2026-03-17T15:34:00.7964888' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([ResultId], [StudentId], [Marks], [ClassType], [CourseFees], [LastDateOfPayment], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 80, 0, 100000, CAST(N'2026-03-28T00:00:00.0000000' AS DateTime2), 0, CAST(N'2026-03-14T14:00:40.8637842' AS DateTime2), CAST(N'2026-03-14T14:00:40.8637874' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Results] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [RollNumber], [Name], [Email], [Phone], [CourseId], [PaymentMode], [PaymentDetails], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (1, N'1602601', N'Muhammad Awais', N'awais@gmail.com', N'0321574855', 4, N'Cash ', N'Cash In Hand', 1, CAST(N'2026-03-14T13:59:36.2866601' AS DateTime2), CAST(N'2026-03-14T13:59:36.2866626' AS DateTime2))
INSERT [dbo].[Students] ([StudentId], [RollNumber], [Name], [Email], [Phone], [CourseId], [PaymentMode], [PaymentDetails], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (2, N'160255', N'Saad Tariq', N'heyyousaad@gmail.com', N'12345678909', 3, N'Cash ', N'Cash In Hand', 1, CAST(N'2026-03-15T06:36:23.0307865' AS DateTime2), CAST(N'2026-03-15T06:36:23.0307888' AS DateTime2))
INSERT [dbo].[Students] ([StudentId], [RollNumber], [Name], [Email], [Phone], [CourseId], [PaymentMode], [PaymentDetails], [IsTrashed], [CreatedAt], [UpdatedAt]) VALUES (3, N'1464644', N'Saad Tariq', N'admin@gmail.com', N'12345678909', 5, N'Cash ', N'Cash In Hand', 0, CAST(N'2026-03-15T06:44:10.8579668' AS DateTime2), CAST(N'2026-03-15T06:44:10.8579693' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
/****** Object:  Index [IX_ExamEnrollments_CourseId]    Script Date: 3/19/2026 11:16:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExamEnrollments_CourseId] ON [dbo].[ExamEnrollments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamEnrollments_EntranceExamId]    Script Date: 3/19/2026 11:16:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExamEnrollments_EntranceExamId] ON [dbo].[ExamEnrollments]
(
	[EntranceExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Results_StudentId]    Script Date: 3/19/2026 11:16:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Results_StudentId] ON [dbo].[Results]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_CourseId]    Script Date: 3/19/2026 11:16:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Students_CourseId] ON [dbo].[Students]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamEnrollments] ADD  DEFAULT ((0)) FOR [CourseId]
GO
ALTER TABLE [dbo].[ExamEnrollments] ADD  DEFAULT (N'') FOR [Status]
GO
ALTER TABLE [dbo].[ExamEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_ExamEnrollments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamEnrollments] CHECK CONSTRAINT [FK_ExamEnrollments_Courses_CourseId]
GO
ALTER TABLE [dbo].[ExamEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_ExamEnrollments_EntranceExams_EntranceExamId] FOREIGN KEY([EntranceExamId])
REFERENCES [dbo].[EntranceExams] ([EntranceExamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamEnrollments] CHECK CONSTRAINT [FK_ExamEnrollments_EntranceExams_EntranceExamId]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Students_StudentId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Courses_CourseId]
GO
USE [master]
GO
